

<% include ./../helpers/format-date %>
<%
    const folder_uploads = 'uploads/article/';
    const linkPrefix = systemConfig.prefixBlog;
%>

<div class="col-lg-4">
    <div class="sidebars-area">
        <% if(typeof itemsRandom !== 'undefined') { %>
       
        <div class="single-sidebar-widget most-popular-widget">
            <h6 class="title">Random Post</h6>
            <% for(let i = 0; i < itemsRandom.length; i++){ %>
                <div class="single-list flex-row d-flex">
                    <div class="thumb">
                        <img src="<%= folder_uploads + itemsRandom[i].thumb %>" alt="<%= itemsRandom[i].name %>">
                    </div>
                    <div class="details">
                        <a href="<%= linkPrefix %>/article/<%= itemsRandom[i]._id %>">
                            <h6><%= itemsRandom[i].name %></h6>
                        </a>
                        <ul class="meta">
                            <li>
                                <label><span class="lnr lnr-calendar-full"></span><%= formatDate(itemsRandom[i].created.time) %></label>
                            </li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
        <% } %>
        
        <div class="single-sidebar-widget social-network-widget">
            <h6 class="title">Social Networks</h6>
            <ul class="social-list">
                <li class="d-flex justify-content-between align-items-center fb">
                    <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fzendvngroup%2F&amp;tabs=timeline&amp;width=300&amp;height=250&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=372332396559333"
                    width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </li>
            </ul>
        </div>
        <div class="single-sidebar-widget social-network-widget">
            <h6 class="title">Tags</h6>
            <% for(let i = 0; i < tags.length; i++){ %>
                <a href="<%= linkPrefix %>/tag/<%= tags[i]._id %>">
                    <span class="badge badge-primary tag"> <%= tags[i].name  %> (<%= tags[i].count %>)</span>
                </a>
                <% } %> 
        </div>
    </div>
</div>